srb2.srb filter=lfs diff=lfs merge=lfs -text
sonic.plr filter=lfs diff=lfs merge=lfs -text
tails.plr filter=lfs diff=lfs merge=lfs -text
knux.plr filter=lfs diff=lfs merge=lfs -text
rings.wpn filter=lfs diff=lfs merge=lfs -text
drill.dta filter=lfs diff=lfs merge=lfs -text
soar.dta filter=lfs diff=lfs merge=lfs -text
music.dta filter=lfs diff=lfs merge=lfs -text
